.kalender th{
	width: 150px;
	background-color: white;
	border: 0px none;
	text-align: center;
	padding: 0.7em 0.3em;
}

.kalender td{
	width: 100px;
	height: 80px;
	background-color: #F2EDD8;
	border: 1px solid #bbbbbb;
	text-align: center;
}

#cal td:hover {
    background-color:GreenYellow;
}

td{
	vertical-align: top;
}
.daynumber{
	padding: 0px;
	color: #666666;
	font-weight: bold;
	font-family:Cinzel Decorative, sans-serif;
	position: relative;
	float: right;
	margin: 0px;
	top:20px;
	width: 20px;
}
td.we{
	background-color: #EAD2C2 ;
}

#me{
  width: 200px;
  height: auto;
  display: block;
  margin: 10px 10px;
  float: left;
}

.title{
  padding-top: 15px;
  display:inline-block;
  font-family:Cinzel Decorative, sans-serif;
  font-size:40px;
  color:blue;
  float: left;
  margin: 10px;
}

td.leer{
	background-color: white;
	border: 0px none;
}


